

*{
  box-sizing: border-box;
}

html,
body,
#app,
.el-container
 {
  // background-color: white;
  height: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box;
  background-color: white;
  font-size: 14px;
}
/////////////////////////////

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;



} 
